div.auto-forward-testing{
    width: 100%;
    height: 100%;
    div.tradingview-widget-container {
        width: 100%;
        height: 100%;
        div {
            width: 100%;
            height: 100%;
        }
    }
}